.category-product-title {
  overflow-wrap: break-word;
  text-transform: lowercase;
  //font-variant: small-caps;
  font-size: 20px;
  letter-spacing: 2px;
  width: 50%;
}

.category-product-qty {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 22px;
  letter-spacing: 2px;
  color: #444444;
  font-weight: 500;
}