.heading-title {
  font-size: 40px;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 3px;
  color: #34425e;
  font-weight: 500;
}

.history-product-title {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 700;
}
