.home-header-container {
  margin-top: -20%;
  color: #444444;
  background: rgba(255, 255, 255, 0.68);
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 4px;
}

.home-header-description {
  text-align: center;
  font-size: 100px;
}
