.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px 10px;
  width: 40%;
  border: 2px solid slategrey;
  border-radius: 50px;
}

input {
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.search-icon {
  margin-left: 10px;
}
