.home-header-container {
  margin-top: 10%;
  color: white;
  background: #ad855e;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.home-header-description {
  text-align: center;
  font-size: 50px;
}
