.product-details-title {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 50px;
  letter-spacing: 2px;
  color: #444444;
  font-weight: 500;
}

.product-detail-add-button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  border-radius: 4px;
  background: #ad855e;
  width: 450px;
  height: 60px;
}

.product-detail-wishlist-button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ad855e;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #ad855e;
  border-radius: 4px;
  background: white;
  width: 450px;
  height: 60px;
}
